@font-face{
    font-family: jockey;
    src:url(jockeyone.ttf);
}
body{
    background-color: rgb(33, 2, 5);
    margin: 0;
}
.header
{
    width: 100%;
    height: 80px;
    background-color: red;
    top: 0;
    display: flex;
    flex-direction: row;
    
}
.sitename
{
    border-right: solid 1px black;
    width: 10%;
    color: white;
    padding-top: 30px;
    margin-left: 40px;
    font-family: jockey;
   font-size: 1.4rem;
}

.logo{
    width: 90px;
    height: 90px;
    top: 0px;
}
/*Index page*/
.heroelement
{
    width: 100%;
    height: 190px;
}
.heropic{
    width: 100%;
    height: 100%;
}
.recomended{
    width: 82%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.recomendedcat{
    width: 100%;
    height: 80%;
    background-color: rgb(167, 13, 13);
    text-align: center;
    font-size: 1rem;
    color: white;
    box-shadow: #0f191d 2px 2px;
    cursor: pointer;
    border: solid white 1px;
}
p{
    margin-top: 50px;
}
.footer
{
    width: 100%;
    height: 120px;
    background-color: rgb(111, 89, 89);
}
@media screen and (max-width: 800px) {
    .recomended{
        margin: 0 auto;
        width: 90%;
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        margin-top: 40px;
    }
}
/*Product page*/
